 
import React from 'react';
 import { Flex } from '@atom/Flex';
 {{#if schemaData
 }}
import { Label } from "@atom/FormLable";
import { Input } from "@atom/Input";
 import { useFormik } from 'formik';
 import {validationSchema} from './schema'
{{/if}}

export default function AddEdit{{ properCase name }}() {

  const onSubmit=(values:any)=>{}
  {{#if schemaData
  }}
  const formik = useFormik({
    initialValues: {
        {{#each schemaData}}
        {{@key}}:'{{ this.intialValue }}',
      {{/each}}
       },
    validationSchema: validationSchema,
    onSubmit: (values: any) => onSubmit(values)
  })
 

  const {handleChange,values}=formik;
  {{/if}}

  return (
      <Flex direction="column">
               <title>Edit {{properCase name}}</title>

                 {{#if schemaData
  }}

                       {{#each schemaData}}
               <Flex direction="column">
                    <Label text="{{this.label}}" {{#if this.required  }}ismandatory={true}
                      {{/if}}  />
                    <Input
                    id="{{@key}}"
                    name="{{@key}}"
                    onChange={handleChange}
                    value={values.{{{@key}}} }
                    type={"{{this.inputType}}"}
                    {{#if this.placeholder}} placeholder="{{this.placeholder}}" {{/if}}
                    />
              </Flex>
               {{/each}}
               {{/if}}
      </Flex >
  )
};
 